html{
    font-size: 97.5%;
}
.dashboard{
    margin-left: 30px;
}

.col-10{
    width: 83.333333%;
}
.main{
    width: 82.375rem;
    height: 80rem;
}
.card{
    margin: 1rem;
    border: none;
}
.table th{
    color: #ADADAD;
    text-transform: uppercase;
}
.graph-head{
    text-align: right;
}
.dashboard{
    width: 146px;
height: 39px;
}
.dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
  }
  @media screen and (max-width: 360px) {
    iframe {
        width: 100%;
        height: auto;
    }

    .col-2 {
        display: none;
    }

    .col-10 {
        width: 100%;
    }

    .card {
        margin: 0 auto;
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }

    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

    .main {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .row.ml-4 {
        flex-direction: column;
    }

    .card.shadow-2-strong {
        width: 100%;
        margin-bottom: 10px;
    }

    table {
        width: 100%;
    }
}

  