.dashboard{
    margin-left: 30px;
}
.dash{
    width: 1560px;
height: 1359px;
}
.nav-item{
    padding: 10px 25px 10px 25px;
}
.nav-item:hover{
    color: #C8242F;
    background-color: #FFF3F4;
}
.nabar-brand{
    padding: 25px 25px 25px 25px;
    
}
.card{
    margin: 15px 15px 15px 15px;
    border: none;
}
.table th{
    color: #ADADAD;
    text-transform: uppercase;
}
.graph-head{
    text-align: right;
}
.dashboard{
    width: 146px;
height: 39px;
}
.dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
  }
  
