@media screen and (max-width: 360px) {
    body{
        overflow-x: auto;
    }
   .col-10{
    width: 100%;
    float: none;
   }
    .dash{
        width: 100%;
    }
    .container-fluid{
        margin: 0rem;
    }
    .card-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
    .sidenav{
        display: none;
    }

  }
  